node_modules/
.env
*.keystore
*.jks
*.p12
*.mobileprovision
*.ipa
*.aab
*.apk
mobile/*/android/.gradle/
mobile/*/android/local.properties
mobile/*/android/**/build/
mobile/*/ios/DerivedData/
mobile/*/ios/**/xcuserdata/
.DS_Store
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/**/build/
mobile/ios/DerivedData/
mobile/ios/**/xcuserdata/
